body {
    font-family: Helvetica Neue, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
}

.hero-banner {
    padding-bottom: 20px;
    margin-top: 150px;
    color: #fff;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

/* Styles for the image carousel container */
.student-activities-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    height: 300px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the carousel on the page */
}

/* Styles for individual images */
.student-activities-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain image aspect ratio and cover the container */
    animation: rotateImages 4s linear infinite; /* Rotate every 4 seconds */
}

/* Keyframe animation to fade in and out images */
@keyframes rotateImages {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}


