body {
  font-family: Helvetica Neue, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This centers the form vertically */
}
.banner {
  width: 100%;
  height: auto;
}

.login-form-container {
  /* position: relative; */
  top: 10;
  left: 0;
  width: 400px;
  background: rgba(255, 255, 255, 0.55);
  padding: 20px;

  box-sizing: border-box;
  z-index: 1;
}

.errorLabel {
  color: red;
  font-size: 12px;
}
