.signup-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  text-align: center;
}

form input {
  margin: 10px auto;
  height: 30px;
  width: 200px;
}
form div {
  margin: 10px auto;
  text-align: center;
}

button {
  width: 100px;
  height: 35px;
  background-color: orange;
  color: white;
  border: 0 transparent;
  border-radius: 20px;
  margin: auto;
}
