body {
    color: var(--dark-blue);
    font-family: Red Hat Display, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

.input {
    width: 300px;
}

.bootstrap-button {
    display: inline-block;
    width: 150px;
    margin: 25px;
}
