body {
    font-family: Helvetica Neue, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.support-form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    align-content: center;
    box-sizing: border-box;
    font-size: 18px;
}

.submit {
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

.submit button{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    padding: 8px;
}

.submit button:hover{
background-color: black;
}
