:root {
    --dark-blue: #081158;
    --gainsboro: #dfdfdf;
    --smoke: whitesmoke;
    --grey: #afafaf;
    --white-smoke: #eef0f4;
    --white: white;
    --azure: #d2e4e0;
    --black: black;
    --light-blue: #5b95d2;
    --green: #8ea5a0;
    --lightest-blue: #cfddee;
    --plum: #ec8675;
    --primary: #081158;
}

body {
    color: var(--dark-blue);
    font-family: Red Hat Display, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 72px;
    font-weight: 500;
    line-height: 1.1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.1em;
}

h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 1.1em;
}

h4 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1em;
}

h5 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Sato, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1em;
}

.logo
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

.banner {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 50px;
    color: #fff;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.nav-menu {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 150px;
}

.button {
    min-width: 200px;
    background-color: var(--primary);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-position: 20px;
    background-repeat: no-repeat;
    background-size: auto 15px;
    border: 0 solid #000;
    border-radius: 6px;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: "JetBrains Mono", sans-serif;
    line-height: 1.6em;
    transition: padding .5s cubic-bezier(.23, 1, .32, 1), background-position .5s cubic-bezier(.23, 1, .32, 1), transform .5s cubic-bezier(.23, 1, .32, 1), color .2s, opacity .2s;
    display: block;
    margin-right: 10px;
    text-decoration: none;
    color: var(--white-smoke);
    font-weight: bold;
}

.button:hover {
    background-position: 30px;
    padding-left: 50px;
    transform: translate(0, -3px);
}

/*.container {
    z-index: 2;
    width: 100%;
    position: relative;
}*/

.container.flex-center {
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 2;
}

.free-w-hero {
    background-color: var(--smoke);
    overflow: hidden;
}

.hero-image-mask {
    width: 100%;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-line {
    z-index: 2;
    width: 100%;
    height: 200px;
    background-color: var(--lightest-blue);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(4deg);
    object-fit: cover;
}

.hero-line.text-line {
    background-color: var(--dark-blue);
    color: var(--white);
    object-fit: cover;
}

.footer-contact-link {
    color: var(--white);
    font-family: Changa One, Impact, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.6em;
}

.footer-link {
    color: var(--white);
    margin-bottom: 5px;
    font-family: Sato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6em;
    text-decoration: none;
}

.footer-brand {
    height: 30px;
    border-bottom-style: none;
    padding-left: 0;
}

.container.footer-container {
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 20px;
    display: grid;

}

.section.footer-section {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-top: 50px;
    padding-bottom: 50px;
}

.column {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: relative;
}

.label {
    color: var(--dark-blue);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 500;
}

.label.footer-label {
    color: var(--white);
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    position: static;
}

.text-block {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: "JetBrains Mono", sans-serif;
}

.container-2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.centered-heading {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

.centered-subheading {
    margin-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 500;
    font-family: "JetBrains Mono", sans-serif;
    letter-spacing: 1px;
    line-height: 1.6em;
    color: var(--black);
}

/* Setting For Students and For Admin */

.option {
    text-align: center;
    width: 50%;
    display: inline-block;
    margin: 0 0 20px 0;
    position: relative;
}

.option img {
    width: 100%;
    height: auto;
    display: flex;
    border: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.option:hover img {
    border-color: black;
}


.option p {
    font-size: 25px;
}

.option button {
    background-color: #282c34; /* Change to your desired button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.option button:hover {
    background-color: darkblue; /* Change to your desired hover button color */
}

.contact {
    text-align: right;
}

.contact button {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: right;
    font-size: 20px;
    border: none;
}

.contact button:hover {
    background-color: black;
}